body {
  background-color: #d3d3f7; /* Slightly darker */
}

.background-animate {
  background-image: url('../../background-medium.png');
  filter: brightness(0.9) contrast(1.1) saturate(1.2);
}

.foreground-animate {
  background-image: url('../../foreground-medium.png');
  filter: brightness(0.9) contrast(1.1);
}

.content {
  animation: fadeIn 1s ease forwards;
  animation-delay: 1s;
}

@keyframes bounceUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    transform: translateY(-30px);
    opacity: 1;
  }
  80% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}
